@page
@model CandyHeaven.Pages._Admin.CreateModel
@{
}
<h1>Välj Kategori</h1>
<input type="radio" asp-for="@Model.Catogory" value="Bar" required>
<label for="Catogory">Bars</label>
<br>

<input type="radio" asp-for="@Model.Catogory" value="CandyBag">
<label for="Catogory">Godis Påsar</label>
<br>


<input type="radio" asp-for="@Model.Catogory" value="BulkCandy">
<label for="Catogory">Lösvikt</label>

<input type="radio" asp-for="@Model.Catogory" value="Okänd">
<label for="Catogory">Okänd</label>
@switch (value)
{
    case "Bar":
        <form method="post">
            <div class="form-group">
                <label class="form-label" for="form9Example2">Namn</label>
                <input asp-for="@Model.Name" class="form-control input-custom" placeholder="Namn på produkten" required />

            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Beskrivning</label>
                <input asp-for="@Model.Description" class="form-control input-custom" placeholder="Beskrivning av produkten" required />

            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Syns på hemsidan</label>
                <input asp-for="@Model.Featured" class="form-control input-custom" placeholder="Synlighet av produkten" required />

            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Pris</label>
                <input asp-for="@Model.Price" class="form-control input-custom" placeholder="Pris på produkten" required />

            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Bild</label>
                <input asp-for="@Model.ImageURL" class="form-control input-custom" placeholder="Bild på produkten" required />

            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Lagersaldo</label>
                <input asp-for="@Model.Stock" class="form-control input-custom" placeholder="Lagersaldo av produkten" required />


            </div>
            <div class="form-group">
                <label class="form-label" for="form9Example2">Smak</label>
                <input asp-for="@Model.Taste" class="form-control input-custom" placeholder="sort" required />

            </div>




            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        case "CandyBag":
            <form method="post">
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Namn</label>
                    <input asp-for="@Model.Name" class="form-control input-custom" placeholder="Namn på produkten" required />

                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Beskrivning</label>
                    <input asp-for="@Model.Description" class="form-control input-custom" placeholder="Beskrivning av produkten" required />

                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Syns på hemsidan</label>
                    <input asp-for="@Model.Featured" class="form-control input-custom" placeholder="Synlighet av produkten" required />

                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Pris</label>
                    <input asp-for="@Model.Price" class="form-control input-custom" placeholder="Pris på produkten" required />

                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Bild</label>
                    <input asp-for="@Model.ImageURL" class="form-control input-custom" placeholder="Bild på produkten" required />

                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Lagersaldo</label>
                    <input asp-for="@Model.Stock" class="form-control input-custom" placeholder="Lagersaldo av produkten" required />


                </div>
                <div class="form-group">
                    <label class="form-label" for="form9Example2">Smak</label>
                    <input asp-for="@Model.Weight" class="form-control input-custom" placeholder="sort" required />

                </div>




                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            case "BulkCandy":
<form method="post">
    <div class="form-group">
        <label class="form-label" for="form9Example2">Namn</label>
        <input asp-for="@Model.Name" class="form-control input-custom" placeholder="Namn på produkten" required />

    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Beskrivning</label>
        <input asp-for="@Model.Description" class="form-control input-custom" placeholder="Beskrivning av produkten" required />

    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Syns på hemsidan</label>
        <input asp-for="@Model.Featured" class="form-control input-custom" placeholder="Synlighet av produkten" required />

    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Pris</label>
        <input asp-for="@Model.Price" class="form-control input-custom" placeholder="Pris på produkten" required />

    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Bild</label>
        <input asp-for="@Model.ImageURL" class="form-control input-custom" placeholder="Bild på produkten" required />

    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Lagersaldo</label>
        <input asp-for="@Model.Stock" class="form-control input-custom" placeholder="Lagersaldo av produkten" required />


    </div>
    <div class="form-group">
        <label class="form-label" for="form9Example2">Smak</label>
        <input asp-for="@Model.CandySort" class="form-control input-custom" placeholder="sort" required />

    </div>

    default:
    <p></p>



    <button type="submit" class="btn btn-primary">Submit</button>

</form>



            case "Okänd":
                    <form method="post">
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Namn</label>
                            <input asp-for="@Model.Name" class="form-control input-custom" placeholder="Namn på produkten" required />

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Beskrivning</label>
                            <input asp-for="@Model.Description" class="form-control input-custom" placeholder="Beskrivning av produkten" required />

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Syns på hemsidan</label>
                            <input asp-for="@Model.Featured" class="form-control input-custom" placeholder="Synlighet av produkten" required />

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Pris</label>
                            <input asp-for="@Model.Price" class="form-control input-custom" placeholder="Pris på produkten" required />

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Bild</label>
                            <input asp-for="@Model.ImageURL" class="form-control input-custom" placeholder="Bild på produkten" required />

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="form9Example2">Lagersaldo</label>
                            <input asp-for="@Model.Stock" class="form-control input-custom" placeholder="Lagersaldo av produkten" required />


                        </div>





                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                    break;
            }






