@page
@model CandyHeaven.Pages._Admin.DetailsModel
@{
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Beskrivning</th>
                <th>Synlighet</th>
            <th>Pris</th>
            <th>Bildväg</th>
            <th>Lagersaldo</th>
        </tr>
    </thead>
    @foreach (var product in Model.Products)
    {

        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.ProductInfo</td>
                <td>@product.Featured</td>
            <td>@product.Price</td>
            <td>@product.ImageURL</td>
            <td>@product.StockQuantity</td>
            


        </tr>
    }

</table>