@page
@model CandyHeaven.Pages._Admin.EditModel
@{
}
<div class="row">
    <form method="post">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Namn</th>
                    <th>Beskrivning</th>
                    <th>Synlighet</th>
                    <th>Pris</th>
                    <th>Bildväg</th>
                    <th>Lagersaldo</th>
                </tr>
            </thead>
            <tr>
                <td><input asp-for="@Model.Name" />@Model.Product.Name</td>
                <td><input asp-for="@Model.Description"/>@Model.Product.ProductInfo</td>
                <td><input asp-for="@Model.Featured"/></td>
                <td><input asp-for="@Model.Price" />@Model.Product.Price.ToString("n2")</td>
                <td><input asp-for="@Model.ImageURL"/>@Model.Product.ImageURL</td>
                <td><input asp-for="@Model.Stock"/>@Model.Product.StockQuantity</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary btn-rounded" href="/_Admin/Edit">Spara</button>
        <a type="submit" class="btn btn-primary btn-rounded" href="/_Admin/Index">Tillbaka</a>
    </form>
</div>
