@page
@model CandyHeaven.Pages._Admin.EditModel
@{
}
<div class="row">
    <form method="post">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Namn</th>
                    <th>Beskrivning</th>
                    <th>Synlighet</th>
                    <th>Pris</th>
                    <th>Bildväg</th>
                    <th>Lagersaldo</th>
                </tr>
            </thead>
            <tr>
                <td><input asp-for="@Model.Product.Name" />@Model.Product.Name</td>
                <td><input type="text" name="name" value="" />@Model.Product.ProductInfo</td>
                <td><input type="checkbox" name="name" value="" /></td>
                <td><input type="number" name="name" value="" />@Model.Product.Price</td>
                <td><input type="text" name="name" value="" />@Model.Product.ImageURL</td>
                <td><input type="number" name="name" value="" />@Model.Product.StockQuantity</td>
            </tr>
            <tfoot>

            </tfoot>
        </table>
        <button type="submit" class="btn btn-primary btn-rounded" href="Edit">
            Save changes
        </button>
    </form>
</div>
