@page
@model CandyHeaven.Pages._Admin.IndexModel
@{
}
<form method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Lägg till produkt</th>
            </tr>
        </thead>
        <tr>
            <td>ID nummer<input asp-for="@Model.Id" required /></td>
            <td>Namn<input asp-for="@Model.Name" required/></td>
            <td>Beskrivning<input asp-for="@Model.Description" required/></td>
            <td>Syns på hemsidan<input asp-for="@Model.Featured"/></td>
            <td>Pris<input asp-for="@Model.Price" required/></td>
            <td>Bildväg<input asp-for="@Model.ImageURL" required/></td>
            <td>Lagersaldo<input asp-for="@Model.Stock" required/></td>
            <td>Lagersaldo<input asp-for="@Model.CandySort" required/></td>
        </tr>

    </table>
    <br /> <button type="submit"></button>

</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Synlighet</th>
            <th>Pris</th>
            <th>Bildväg</th>
            <th>Lagersaldo</th>
        </tr>
    </thead>
    @foreach (var product in Model.Products)
    {

        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.ProductInfo</td>
            <td>@product.Featured</td>
            <td>@product.Price</td>
            <td>@product.ImageURL</td>
            <td>@product.StockQuantity</td>
        </tr>
    }

</table>
