@page
@model CandyHeaven.Pages._Admin.IndexModel
@{
}
<div class="row">
    <a asp-page="Create" class="btn btn-outline-dark">Create new</a>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Namn</th>
                <th>Pris</th>
                <th>Lagersaldo</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("n2")</td>
                <td>@product.StockQuantity</td>
                <td> <a asp-page="Edit" asp-route-id="@product.Id" class="btn btn-outline-dark">Edit</a><a asp-page="Details" asp-route-id="@product.Id" class="btn btn-outline-dark">Details</a><a asp-page="Index" asp-route-id="@product.Id" class="btn btn-outline-dark">Delete</a></td>
            </tr>
        }

    </table>
</div>
