@page
@model CandyHeaven.Pages._Admin.UpdateModel
@{
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Synlighet</th>
            <th>Pris</th>
            <th>Bildväg</th>
            <th>Lagersaldo</th>
        </tr>
    </thead>
    

        <tr>
            
            <td>@Model.Product.Name</td>
            <td>@Model.Product.ProductInfo</td>
            <td>@Model.Product.Featured</td>
            <td>@Model.Product.Price</td>
            <td>@Model.Product.ImageURL</td>
            <td>@Model.Product.StockQuantity</td>



        </tr>
    

</table>

