@page
@model CandyHeaven.Pages.BulkCandyModel
@{
}
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/CandyHeavenLogo.png">
        <img src="~/CandyHeavenLogo.png" height="200" alt="mdb logo">
    </a>
</nav>
<div class="row">
    <h1 text-align: center;>Batch Made in Heaven</h1>
</div>

<form method="get">
    <div class="input-group">
        <input class="form-check form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var item in Model.Products)
    {
        @if (item is Models.BulkCandy)
        {
            <div class="card col-3" style="width: 18rem;">
                <img class="card-img-top" src=@item.ImageURL alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6>Lagersaldo: @item.StockQuantity</h6><br />
                    <h5>@item.Price.ToString("n2") kr</h5>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Mer info
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @item.ProductInfo
                            <h6>Sort: @(((Models.BulkCandy)item).CandySort)</h6>
                        </div>
                    </div>
                    <a asp-route-id=@item.Id class="btn btn-primary">Lägg till i varukorg</a>
                </div>
            </div>
        }
    }
</div>
