@page
@model CandyHeaven.Pages.CandyShopModel
@{
}

<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/CandyHeavenLogo.png">
        <img src="~/CandyHeavenLogo.png" height="200" alt="mdb logo">
    </a>
</nav>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Sortera efter:
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="SortByName">Namn A-Ö</a></li>
        <li><a href="SortByPrice">Lägst pris </a></li>
        <li><a href="SortByPriceDescending">Högst pris</a></li>
    </ul>
</div>

<form method="get">
    <div class="input-group">
        <input class="form-check form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="card col-3" style="width: 18rem;">
            <img class="card-img-top" src=@product.ImageURL alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @product.Name
                @if (product is Models.BulkCandy)
                {
                    @(((Models.BulkCandy)product).Weight + "kg")
                }
            </h5>
            <h6>Lagersaldo: @product.StockQuantity</h6><br />
            <h5>@product.Price.ToString("n2") kr</h5>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Mer info
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    @product.ProductInfo
                    @if (product is Models.BulkCandy)
                    {
                        <h6>Smak: @(((Models.BulkCandy)product).CandySort)</h6>
                    }
                    @if (product is Models.Bar)
                    {
                        <h6>Smak: @(((Models.Bar)product).Taste)</h6>
                    }
                    @if (product is Models.CandyBag)
                    {
                        <h6>Vikt: @(((Models.CandyBag)product).Weight) gram</h6>
                    }
                </div>
            </div>@if (product.StockQuantity != 0)
            {
                <a asp-route-id=@product.Id class="btn btn-primary">Lägg till i varukorg</a>
            }
            else
            {
            <h6 class="btn btn-primary">Slut på lager</h6>
            }
            </div>
            </div>
        }
</div>





