@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar navbar-expand-md navbar-light">

<a class="navbar-brand" href="#!">
    <img src="~/CandyHeavenLogo.png" height="200" alt="mdb logo">
</a>


</nav>
<div style="background-color: #A4FFF5 " class="jumbotron">
    <h1  class="display-4">Candy Heaven</h1>
    <p style="font-family: 'Lobster', cursive;" class="lead">Make life a little sweeter</p>
    <hr class="my-4">
    @*<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>*@
    <p class="lead">
        <a style="font-family: 'Lobster', cursive;" class="btn btn-primary btn-lg" href="CandyShop" role="button">Shoppa mer</a>
        <a style="font-family: 'Lobster', cursive;" class="btn btn-primary btn-lg" href="ListOfBars" role="button">Bars</a>
        <a style="font-family: 'Lobster', cursive;" class="btn btn-primary btn-lg" href="CandyBag" role="button">Godispåsar</a>
        <a style="font-family: 'Lobster', cursive;" class="btn btn-primary btn-lg" href="BulkCandy" role="button">Pick</a>
    </p>
</div>
<div class="row">
    @foreach (var prod in Model.Products)
    {
        if (prod is Models.BulkCandy)
        {
            <div class="card col-3" style="width: 18rem;">
                <img class="card-img-top" src=@prod.ImageURL alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@prod.Name</h5>

                    <h6>@prod.Price.ToString("n2") kr</h6>
                    <p>


                        <button style="font-family: 'Lobster', cursive;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Mer info
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @prod.ProductInfo
                            <h6 style="font-family:'Lobster', cursive; ">
                                Godis Sort :
                                @(((Models.BulkCandy)prod).CandySort)
                            </h6>
                            
                            @if (prod.StockQuantity > 0)
                            {
                                <h6 > Finns på lager</h6>
                            }
                            else
                            {
                                <h6> Ej på lager</h6>
                            }


                        </div>
                    </div>
                    
                    <a style="font-family: 'Lobster', cursive;" asp-route-id=@prod.Id class="btn btn-primary">Lägg till i varukorg</a>
                </div>
            </div>
        }

        if (prod is Models.Bar)
        {
            <div class="card col-3" style="width: 18rem;">
                <img class="card-img-top" src=@prod.ImageURL alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@prod.Name</h5>

                    <h6>@prod.Price.ToString("n2") kr</h6>
                    <p>


                        <button style="font-family: 'Lobster', cursive;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Mer info
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @prod.ProductInfo
                            <p></p>
                            <h6 style="font-family:'Lobster', cursive; ">
                                Bar smak:
                                @(((Models.Bar)prod).Taste)
                            </h6>

                            @if (prod.StockQuantity > 0)
                            {
                                <h6 style="font-family: 'Lobster', cursive;"> Finns på lager</h6>
                            }
                            else
                            {
                                <h6> Ej på lager</h6>
                            }

                        </div>
                    </div>
                    
                    <a style="font-family: 'Lobster', cursive;" asp-route-id=@prod.Id class="btn btn-primary">Lägg till i varukorg</a>
                </div>
            </div>
        }

        if (prod is Models.CandyBag)
        {
            <div class="card col-3" style="width: 18rem;">
                <img class="card-img-top" src=@prod.ImageURL alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@prod.Name</h5>

                    <h6>@prod.Price.ToString("n2") kr</h6>
                    <p>


                        <button style="font-family: 'Lobster', cursive;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Mer info
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @prod.ProductInfo
                            <h6 style="font-family: 'Lobster', cursive;">
                                Vikt på påsen:
                                @(((Models.CandyBag)prod).Weight) gram
                            </h6>

                            @if (prod.StockQuantity > 0)
                            {
                                <h6 style="font-family: 'Lobster', cursive;"> Finns på lager</h6>
                            }
                            else
                            {
                                <h6> Ej på lager</h6>
                            }
                        </div>
                    </div>
                   
                    <a style="font-family: 'Lobster', cursive;" asp-route-id=@prod.Id class="btn btn-primary">Lägg till i varukorg</a>

                </div>
            </div>
        }
    }
</div>
