@page
@model CandyHeaven.Pages.SortByPriceDescendingModel
@{
}

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Soretera efter:
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="SortByName">Namn A-Ö</a></li>
        <li><a href="SortByPrice">Lägst pris </a></li>
        <li><a href="SortByPriceDescending">Högst pris</a></li>
    </ul>
</div>

<form method="get">
    <div class="input-group">
        <input class="form-check form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var prod in Model.Products)
    {
        <div class="card col-3" style="width: 18rem;">
            <img class="card-img-top" src=@prod.ImageURL alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @prod.Name
                @if (prod is Models.BulkCandy)
                {
                    @(((Models.BulkCandy)prod).Weight + "kg")
                }
            </h5>
            <h6>Lagersaldo: @prod.StockQuantity</h6><br />
            <h5>@prod.Price.ToString("n2") kr</h5>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Mer info
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    @prod.ProductInfo
                    @if (prod is Models.BulkCandy)
                    {
                        <h6>Smak: @(((Models.BulkCandy)prod).CandySort)</h6>
                    }
                    @if (prod is Models.Bar)
                    {
                        <h6>Smak: @(((Models.Bar)prod).Taste)</h6>
                    }
                    @if (prod is Models.CandyBag)
                    {
                        <h6>Vikt: @(((Models.CandyBag)prod).Weight) gram</h6>
                    }
                </div>
            </div><a asp-route-id=@prod.Id class="btn btn-primary">Lägg till i varukorg</a>
        </div>
    </div>
}
</div>