@page
@model CandyHeaven.Pages.ShoppingCart.ShippingModel
@{
}

<form method="post" asp-page="Payment">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Produkt</th>
                <th class="text-center">Antal</th>
                <th>Summa</th>
            </tr>
        </thead>
        @foreach (var product in Model.ShoppingCart)
        {
            <tr>
                <td><img class="cart-images" src="@product.ImageURL" alt="@product.Name image" /></td>
                <td>@product.Name <br />@(product.StockQuantity > 0 ? "Finns i lager" : "Ej i lager")</td>
                <td>
                    <a asp-page="ShoppingCart" asp-route-removeId="@product.Id" class="btn btn-outline-dark">-</a>
                    <a asp-page="ShoppingCart" asp-route-addId="@product.Id" class="btn btn-outline-dark">+</a>

                </td>
                @*<td><input type="number" name="quantities" value="@product.StockQuantity" min="1" style="width: 50px;" /></td>*@
                <td>@product.Price.ToString("n2") kr</td>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="2"><h4>Totala summan: <br />Inkl. Moms</h4></td>
                <td></td>
                <td><h4>@Model.Sum.ToString("n2") kr</h4></td>
            </tr>
        </tfoot>
    </table>
</form>

<form asp-page="/shoppingcart/Payment"  method="post">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Leveranssätt</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tr>
            <td>
                Förnamn: <input asp-for="@Model.Name" /><br />
                Efternamn: <input asp-for="@Model.LastName" /><br />
                Email:<input asp-for="@Model.Email" /><br />
                Adress:<input asp-for="@Model.Adress" />


                <p>Välj leveranssätt:</p>

                <input type="radio" asp-for="@Model.Frakt" value="DHL">
                <label for="DHL">DHL Express</label><br>

                <input type="radio" asp-for="@Model.Frakt" value="Instabox">
                <label for="InstaBox">Instabox</label><br>


                <input type="radio" asp-for="@Model.Frakt" value="Hänta i butik">
                <label for="Butik">Hämta i butik</label>
                <h4>@Model.FraktSum.ToString("n2") kr</h4>


                <p>


                    <button style="font-family: 'Lobster', cursive;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Välj Betalningssätt
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">


                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">VISA/MasterCard</label><br>
                        <input type="radio" id="css" name="fav_language" value="Fakturabetalning">
                        <label for="css">Klarna</label><br>
                        <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                        <label for="javascript">Swish</label>


                    </div>
                </div>

                <input type="submit" class="btn btn-outline-dark btn-lg" href="Payment" role="button" value="FORTSÄTT"></input>
            </td>
        </tr>
    </table>
</form>
