@page
@model CandyHeaven.Pages.ShoppingCart.ShippingModel
@{
}

<div class="row mt-3 mx-3" style="margin-top:25px ;">
    <div class="col-md-3">
        <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
            <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
               data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
               data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>
            <h3 class="mt-3 text-white">Welcome</h3>
            <p class="white-text">Du är 30 sekunder från att slutföra din order!</p>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/CandyHeavenLogo.png">
                    <img src="~/CandyHeavenLogo.png" height="200" alt="mdb logo">
                </a>
            </nav>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/CandyShop" role="button">Gå tillbaka</a>
            @*<button href="CandyShop" class="btn btn-white btn-rounded back-button">Gå Tillbaka</button>*@
        </div>
    </div>
    <div class="col-md-9 justify-content-center">
        <div class="card card-custom pb-4">
            <div class="card-body mt-0 mx-5">
                <div class="text-center mb-3 pb-2 mt-3">
                    <h4>Varor i varukorgen</h4>
                </div>
            </div>

            <form method="post" class="mb-0">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Produkt</th>
                            <th class="text-center">Antal</th>
                            <th>Summa</th>
                        </tr>
                    </thead>
                    @foreach (var product in Model.ShoppingCart)
                    {
                        <tr>
                            <td><img class="cart-images" src="@product.ImageURL" alt="@product.Name image" /></td>
                            <td>@product.Name <br />@(product.StockQuantity > 0 ? "Finns i lager" : "Ej i lager")</td>
                            <td>
                                <a asp-page="ShoppingCart" asp-route-removeId="@product.Id" class="btn btn-outline-dark">-</a>
                                <a asp-page="ShoppingCart" asp-route-addId="@product.Id" class="btn btn-outline-dark">+</a>

                            </td>

                            <td>@product.Price.ToString("n2") kr</td>
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <h4>Totala summan:</h4>
                                <h6>Varav Moms</h6>

                            </td>
                            <td></td>
                            <td>
                                <h4>@(Model.ShippingCost == 0? @Model.Sum.ToString("n2") : @Model.ShippingCost.ToString("n2")) kr</h4>
                                <h6>@Model.Tax.ToString("n2") kr</h6>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <hr class="my-4">

                <div class="text-center mb-3 pb-2 mt-3">
                    <h4>Personuppgifter</h4>
                </div>
                <div class="form-group">
                    <div class="col">
                        <div class="form-outline">
                            <input asp-for="@Model.Name" class="form-control input-custom" required />
                            <label class="form-label">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input asp-for="@Model.LastName" class="form-control input-custom" required />
                            <label class="form-label">Last name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input asp-for="@Model.Email" class="form-control input-custom" required />
                            <label class="form-label">Email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input asp-for="@Model.Adress" class="form-control input-custom" />
                            <label class="form-label">Adress</label>
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <div class="container">
                    <div class="row">
                        <div class="col-5">

                            <div class="text-center mb-3 pb-2 mt-3">
                                <h4>Leveranssätt</h4>
                            </div>
                            <input type="radio" asp-for="@Model.Shipping" value="DHL" required>
                            <label for="DHL">DHL Express  (39kr)</label>
                            <img src="https://logos-world.net/wp-content/uploads/2020/08/DHL-Logo-700x394.png" width="70" height="70" /><br>


                            <input type="radio" asp-for="@Model.Shipping" value="Instabox">
                            <label for="InstaBox">Instabox  (29kr)</label>
                            <img src="~/instabox-logotyp-landskap-1000x300 (1).png" width="100" height="50" /><br>


                            <input type="radio" asp-for="@Model.Shipping" value="Hämta i butik">
                            <label for="Butik">Hämta i butik  (0kr)</label>
                            <img src="~/CandyHeavenLogo.png" width="50" height="50" /><br>

                        </div>

                        <div class="col-5">

                            <div class="text-center mb-3 pb-2 mt-3">
                                <h4>Betalsätt</h4>
                            </div>
                            <div class="form-outline">
                                <input type="radio" asp-for="@Model.Payment" value="VISA/MasterCard" required>
                                <label for="VISA/MasterCard">VISA/MasterCard</label>
                                <img src="~/pngwing.com.png" width="100" height="50" /><br>

                                <input type="radio" asp-for="@Model.Payment" value="Klarna">
                                <label for="Klarna">Klarna</label>
                                <img src="https://cdn.coalalife.com/uploads/sites/1/fly-images/4714/Klarna_Pink-1-1120x640.png" width="100" height="50" /><br>
                                <input type="radio" asp-for="@Model.Payment" value="JavaScript">
                                <label for="Swish">Swish</label>
                                <img src="https://www.logo.wine/a/logo/Swish_(payment)/Swish_(payment)-Logo.wine.svg" width="100" height="50" /><br>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">
        

                <div class="row">
                    <div class="col-12 text-center">
                        @if (@Model.Adress != null)
                        {
                            <a class="btn btn-primary btn-lg" href="OrderSuccessful" role="button">Fortsätt</a>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary btn-rounded" href="Shipping">Bekräfta order</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>