@page
@model CandyHeaven.Pages.ShoppingCart.ShoppingCartModel
@{
}

<h1>Varukorg (@Model.ShoppingCart.Count @Model.ItemsInCart)</h1>

<form method="post" asp-page="ShoppingCart">  
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Produkt</th>
                <th class="text-center">Antal</th>
                <th>Summa</th>
            </tr>
        </thead>
        @foreach (var product in Model.ShoppingCart)
        {
    <tr>
        <td><img src="@product.ImageURL" alt="@product.Name image" /></td>
        <td>@product.Name <br />@(product.StockQuantity > 0 ? "Finns i lager" : "Ej i lager")</td>
        <td>
            <a asp-page="ShoppingCart" asp-route-removeId="@product.Id" class="btn btn-outline-dark">-</a>
            <a asp-page="ShoppingCart" asp-route-addId="@product.Id" class="btn btn-outline-dark">+</a>

        </td>
        @*<td><input type="number" name="quantities" value="@product.StockQuantity" min="1" style="width: 50px;" /></td>*@
        <td>@product.Price kr</td>
    </tr>
        }
    </table>
</form>

<div class="flex-row float-right">
    <a class="btn btn-outline-dark btn-lg" href="Shipping" role="button">FORTSÄTT</a>
</div>
