@page
@model CandyHeaven.Pages.ShoppingCart.ShoppingCartModel
@{
}
<div class="row">
    <div class="text-center">
        <br />
        <br />
        <h1>Varukorg (@Model.ShoppingCart.Count @Model.ItemsInCart)</h1>
        <br />
        <br />
    </div>
</div>
<form method="post" asp-page="Payment">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Produkt</th>
                <th class="text-center">Antal</th>
                <th>Summa</th>
            </tr>
        </thead>
        @foreach (var product in Model.ShoppingCart)
        {
            <tr>
                <td><img class="cart-images" src="@product.ImageURL" alt="@product.Name image" /></td>
                <td>@product.Name <br />@(product.StockQuantity > 0 ? "Finns i lager" : "Ej i lager")</td>
                <td>
                    <a asp-page="ShoppingCart" asp-route-removeId="@product.Id" class="btn btn-outline-dark">-</a>
                    <a asp-page="ShoppingCart" asp-route-addId="@product.Id" class="btn btn-outline-dark">+</a>

                </td>
                <td>@product.Price.ToString("n2") kr</td>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="2"><h4>Totala summan: </h4> 
                                <h6>Varav Moms</h6>
                </td>
                <td></td>
                <td><h4>@Model.Sum.ToString("n2") kr </h4>
                <h6>@Model.Tax.ToString("n2") kr</h6></td>
            </tr>
        </tfoot>
    </table>
</form>

<div class="row">
    <div class="col-12 text-right">
        @if (@Model.Sum > 0)
        {
            <a class="btn btn-primary btn-lg" href="Shipping" role="button">Gå vidare</a>
        }
    </div>
</div>